<main class="container mx-auto my-4 px-5">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path, class: 'bg-gray-500 mt-3 mr-3 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
  <div class="bg-slate-200 p-4 my-1 rounded-md mt-3">
    <h1 class="text-xl mb-3">
      <%= @quote.name %>
    </h1>
  </div>
</main>
